services:
  patient-service-db:
    image: postgres
    container_name: patient-service-db
    environment:
      - POSTGRES_USER=admin_user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db
    ports:
      - 5000:5432
    networks:
      - internal

  patient-service:
    image: patient-service
    container_name: patient-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://patient-service-db:5432/db
      - SPRING_DATASOURCE_USERNAME=admin_user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_SQL_INIT_MODE=always
    ports:
      - 4000:4000
    networks:
      - internal
    depends_on:
      - patient-service-db

  billing-service:
    image: billing-service
    container_name: billing-service
    ports:
      - 4001:4001
      - 9001:9001
    networks:
      - internal

networks:
  internal:
    name: internal
    driver: bridge
